{% extends 'base.html' %}
{% load static %}

{% block title %}{{ album.titulo }}{% endblock title %}

{% block content %}
<!-- Conteúdo -->
<main class="mt-5">
    <div class="container">
        <!-- Titúlo da página -->
        <h3>{{ album.titulo }}</h3>
        <hr class="bg-danger" style="width: 35%;"/>
        <p class="description">{{ album.descricao }}</p>
        <br/>
        <!-- Galeria -->
        <div class="row text-lg-left text-center">
            {% for imagem in imagens %}
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <a href="{{ imagem.imagem.url }}" data-ilb2-caption="{{ imagem.titulo }}" data-imagelightbox="demo" class="d-block mb-4 h-100">
                        <img src="{{ imagem.imagem.url }}" class="img-fluid img-thumbnail">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
<!-- Fim conteúdo -->
{% endblock content %}