{% extends 'base.html' %}
{% load static %}

{% block title %}Gallery{% endblock title %}

{% block content %}
    <!-- Titúlo da página -->
    <div class="text-center">
        <h1><strong>Gallery</strong></h1>
        <hr class="danger-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 18%;"/>
    </div>

    <!--Section: Cards-->
    <section class="text-center mt-2">
        <!--Grid row-->
        <div class="row mb-4 wow fadeIn">
            {% if object_list %}
                {% for album in object_list %}
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay">
                                <img src="{{album.thumbnail.url}}" class="card-img-top tamanho-img" alt="" height="245">
                                <a href="{% url 'album_detail' album.slug %}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="text-uppercase font-weight-bold card-title">{{ album.titulo }}</h4>
                                <!--Text-->
                                <p class="card-text"><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Data:</strong> {{ album.data }}</p>
                                <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> <strong>Local:</strong> {{ album.localizacao }}</p>
                                <a href="{% url 'album_detail' album.slug %}" class="btn btn-danger btn-md">Veja as fotos
                                    <i class="fa fa-play ml-2"></i>
                                </a>
                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->
                {% endfor %}
            {% else %}
                <br>
                <h1 class="text-center">Não há álbuns!</h1>
            {% endif %}
        </div>
        <!--Grid row-->
    </section>
    <!--Section: Cards-->
    <!-- Pager -->
    {% if is_paginated %}
    <div class="clearfix mt-4 mb-4">
        <div class="row text-center">
            <div class="col-sm">
                {% if page_obj.has_previous %}
                    <a class="btn btn-danger" href="?page={{ page_obj.previous_page_number }}">< Anterior</a>
                {% endif %}
            </div>
            <div class="col-sm"></div>
            <div class="col-sm">
                <span class="current">
                    {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm">
                {% if page_obj.has_next %}
                    <a class="btn btn-danger" href="?page={{ page_obj.next_page_number }}">Próxima ></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}